* {
  margin: 0;
  padding: 0;
}

.body {
  background: #F2F2F2;
  margin: 0;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #D92525;
  height: 150px;
  align-items: center;
  padding: 30px;
}
.header .title_index {
  font-size: 3rem;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.716);
  font-weight: lighter;
  font-family: "Aboreto";
  color: white;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.nav-container {
  background-color: #044040;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
}
.nav-container .nav {
  gap: 20px;
  width: 100%;
}

#catalogo {
  color: black;
  text-decoration: none;
  background: #F2F2F2;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px black;
}

#catalogo:hover {
  background: #F23030;
  color: white;
  border: white 3px solid;
  transform: scale(1.2);
  transition: all 0.3s ease;
  font-style: italic;
  box-shadow: 0px 0px 10px white;
}

#tragos {
  color: black;
  text-decoration: none;
  background: #F2F2F2;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px black;
}

#tragos:hover {
  background: #F23030;
  color: white;
  border: white 3px solid;
  transform: scale(1.2);
  transition: all 0.3s ease;
  font-style: italic;
  box-shadow: 0px 0px 10px white;
}

#contactanos {
  color: black;
  text-decoration: none;
  background: #F2F2F2;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px black;
}

#contactanos:hover {
  background: #F23030;
  color: white;
  border: white 3px solid;
  transform: scale(1.2);
  transition: all 0.3s ease;
  font-style: italic;
  box-shadow: 0px 0px 10px white;
}

#aboutus {
  color: black;
  text-decoration: none;
  background: #F2F2F2;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px black;
}

#aboutus:hover {
  background: #F23030;
  color: white;
  border: white 3px solid;
  transform: scale(1.2);
  transition: all 0.3s ease;
  font-style: italic;
  box-shadow: 0px 0px 10px white;
}

#home {
  color: black;
  text-decoration: none;
  background: #F2F2F2;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 10px black;
}

#home:hover {
  background: #F23030;
  color: white;
  border: white 3px solid;
  transform: scale(1.2);
  transition: all 0.3s ease;
  font-style: italic;
  box-shadow: 0px 0px 10px white;
}

.welcome {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 30px;
  margin-top: 30px;
  width: auto;
}
.welcome h2 {
  background-color: #D92525;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 gray;
}
.welcome p {
  background-color: #044040;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 gray;
}

.container {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
  flex-flow: column nowrap;
  gap: 25px;
  height: auto;
  margin-top: 50px;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.container .cards {
  font-family: "Kanit";
  justify-content: space-around;
  color: white;
  background-size: cover;
  background-color: #044040;
  box-shadow: 10px 10px 0 rgb(72, 72, 72);
  width: 60%;
  height: auto;
}
.container .cards:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.conteinerfooter {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: #044040;
  color: white;
  font-size: 200;
  text-align: center;
  padding: 1rem;
  margin-top: 150px;
  gap: 20px;
}

.conteinerfooter a {
  color: black;
}

/*Tragos___________*/
.bodyTragos {
  background: #F2F2F2;
  margin: 0;
}

.headerTragos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #D92525;
  height: 150px;
  align-items: center;
  padding: 30px;
}
.headerTragos .title_tragos {
  font-size: 3rem;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.716);
  font-weight: lighter;
  color: white;
  font-family: "Aboreto";
}

.nav-container {
  background-color: #044040;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
}
.nav-container .nav {
  gap: 20px;
  width: 100%;
}

.mainTitle {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 20px;
}

#h1Tragos {
  text-align: center;
  background: #F23030;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1rem;
  color: white;
  text-shadow: 0px 0px 5px gray;
}

#h1Tragos:hover {
  box-shadow: 5px 5px rgb(72, 72, 72);
  transition: box-shadow 0.3s ease;
}

#h4Tragos {
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  align-items: center;
  font-size: 30px;
  background: #F23030;
  border: white solid 2px;
  color: white;
  border-radius: 20px;
  text-shadow: 0px 0px 5px rgb(72, 72, 72);
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.tragos-- {
  font-weight: bolder;
  font-family: "Alumni Sans Pinstripe";
  background: #D92525;
  color: white;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 30px;
  border-radius: 20px;
}
.tragos-- .subTitle {
  font-family: "Kanit";
  color: white;
  display: inline;
  background: #260101;
  margin: 15px;
  border: 1px solid white;
  border-radius: 5px;
}
.tragos-- .ulT .liT {
  background: #044040;
  list-style: none;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
}

.footerTragos {
  background: #044040;
  color: white;
  text-align: center;
  padding: 2rem;
}

.footerTragos a {
  color: black;
}

/*Tragos___________*/
/*Contactanos______*/
.bodyContact {
  background: #F2F2F2;
  margin: 0;
}

.headerContact {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #D92525;
  height: 100px;
  align-items: center;
  padding: 30px;
}
.headerContact .title_contactanos {
  font-size: 3rem;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.716);
  font-weight: lighter;
  color: white;
  font-family: "Aboreto";
}
.headerContact .nav {
  gap: 10px;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.mainContactanos {
  margin-top: 2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.mainContactanos .h1Contact {
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  font-size: 30px;
  background: #F23030;
  border: white solid 2px;
  color: white;
  border-radius: 20px;
  text-shadow: 0px 0px 5px white;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.sectContact {
  margin-top: 2rem;
  display: grid;
  grid-column: 1fr 2fr 3fr 4fr;
  color: black;
}
.sectContact #form {
  text-align: center;
}
.sectContact .gmail {
  margin-left: 19px;
}
.sectContact .coment {
  display: block;
  text-align: center;
}
.sectContact textarea {
  resize: none;
  width: 55%;
}
.sectContact .text {
  background: #F23030;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.sectContact #button {
  color: white;
  font-weight: bolder;
  background: #260101;
  padding: 5px;
  border: white solid 2px;
  border-radius: 5px;
}
.sectContact #button:hover {
  transform: scale(1.2);
  background: #F23030;
  color: white;
  transition: 0.3s ease;
  box-shadow: 5px 2px 0px gray;
}

.footerContact {
  margin-top: 150px;
  background: #044040;
  color: white;
  text-align: center;
  padding: 2rem;
}

.footerContact a {
  color: black;
}

/*Contactanos______*/
/*Catalago_________*/
.bodyCatalogo {
  background: #F2F2F2;
  margin: 0;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #D92525;
  height: 200px;
  align-items: center;
  padding: 20px;
}
.main .title_catalogo {
  font-size: 3rem;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.716);
  font-weight: lighter;
  color: white;
  font-family: "Aboreto";
}

.container_ {
  text-align: center;
  background: #F23030;
  color: white;
  font-style: italic;
  text-shadow: 0px 0px 5px rgb(72, 72, 72);
  box-shadow: 10px 10px 0px black;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
}

.parrafos p {
  text-align: left;
  color: white;
  border: 2px solid black;
  margin: 20px;
  background: #D92525;
  border-radius: 5px;
  padding: 10px;
}

.parrafos li {
  display: flex;
  width: fit-content;
  padding: 5px;
  background-color: #8EC5FC;
  color: black;
  border-radius: 5px;
  margin: 20px;
}

.h4Americana {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #260101;
  padding: 20px;
  width: fit-content;
  margin: 20px;
  font-size: 25px;
}

.h4Americana:hover {
  color: black;
  transition: all 0.3s ease;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.h4Escosesa {
  color: white;
  background: #260101;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  transition: background-image 2s ease;
  width: fit-content;
  margin: 20px;
}

.h4Escosesa:hover {
  color: black;
  background-size: cover;
  transition: all 0.3s ease;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.h4Irlandesa {
  color: white;
  background: #260101;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  width: fit-content;
  margin: 20px;
}

.h4Irlandesa:hover {
  color: black;
  transition: all 0.3s ease;
  background-size: cover;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

#Precios {
  text-align: center;
  color: white;
  background: #044040;
  font-weight: bolder;
  font-size: 20px;
  padding: 15px;
  text-shadow: 0px 0px 5px rgb(72, 72, 72);
}

.tablas {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  justify-items: center;
  margin-bottom: 20px;
}
.tablas th,
.tablas tr,
.tablas td {
  text-align: center;
  color: black;
  background: #D92525;
  padding: 2%;
  border: 1px solid black;
  margin: 20px;
}

.footerCatalogo {
  background: #044040;
  color: white;
  text-align: center;
  padding: 2rem;
}

.footerCatalogo a {
  color: black;
}

/*Catalago_________*/
/*About Us_________*/
.bodyAbout {
  background: #F2F2F2;
  margin: 0;
}

.headerAbout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background: #D92525;
  height: 150px;
  align-items: center;
}
.headerAbout .title_aboutus {
  font-size: 3rem;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.716);
  font-weight: lighter;
  color: white;
  font-family: "Aboreto";
}

.sectionAbout {
  display: grid;
  grid-template-columns: 2fr;
  width: fit-content;
  margin: 50px;
}
.sectionAbout .legend {
  background: #044040;
  width: auto;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 0px black;
}
.sectionAbout fieldset {
  background: #F23030;
  padding: 30px;
  font-weight: bolder;
  box-shadow: 10px 20px rgba(0, 0, 0, 0.305);
  color: white;
  font-weight: bolder;
  font-size: 25px;
  font-family: "Alumni Sans Pinstripe";
}
.sectionAbout fieldset img {
  width: 100%;
}

.footerAbout {
  margin-top: 230px;
  background: #044040;
  color: white;
  text-align: center;
  padding: 2rem;
}

.footerAbout a {
  color: black;
}

/*About Us_________*/
@media all and (max-width: 480px) {
  .header {
    display: flex;
    flex-flow: row wrap;
    height: 200px;
  }
  .conteinerfooter {
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
  }
  .headerTragos {
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
  }
  .mainTitle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  .mainTitle .subTitle {
    display: flex;
    flex-flow: row nowrap;
  }
  .headerContact {
    display: flex;
    flex-flow: column nowrap;
    height: 200px;
  }
  .headerAbout {
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    padding: 30px;
  }
  .nav-container {
    background-color: #044040;
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
  }
  .nav-container .nav {
    gap: 20px;
    width: 100%;
  }
}
@media all and (min-width: 1200px) {
  .container {
    display: flex;
    flex-flow: row nowrap;
  }
  .cards {
    width: 60%;
  }
  .headerContact {
    display: flex;
    flex-flow: row nowrap;
    height: 200px;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=estilos.css.map */
